In [1]:
# how to change string fine to dine

In [13]:
p1 = ['fine']
p1

['fine']

In [15]:
p1 = ["Dine"]
p1

['Dine']

In [17]:
list_ = [10,20,30,40,50,60]
print(list_)

[10, 20, 30, 40, 50, 60]

In [37]:
print(list_[0]) # forward indexing start from 0 
print(list_[1])
print(list_[3])
print(list_[4])
print(list_[5])



print(list_[-1]) # backward indexing from -1 
print(list_[-2])
print(list_[-3])
print(list_[-4])
print(list_[-5])
print(list_[-6])


# Item assignment in tuple, strings, range object  does not support item assignment

10
20
40
50
60
60
50
40
30
20
10

# Slicing

In [22]:
# slicing is  denoted by [:]
# slicing is of 3 type 
# 1> forward slicing 
# 2> backward slicing 
# 3> step slicing

name = 'keshav' 
name 
print(name[0:2])
name[1:6:1]

ke

'eshav'

In [24]:
name1 = 'fine'
print(name1)

fine

In [30]:
name1[0:1]

'fin'

In [32]:
name = 'dine'

In [34]:
name1

'fine'

In [36]:
name1[0:1] = 'd' # i want to change 1st character of naresh (n) - t

TypeError: 'str' object does not support item assignment

In [38]:
name1[0] = 'd' #strings in python are immutable

TypeError: 'str' object does not support item assignment

In [40]:
name1

'fine'

In [42]:
name1[0:1]

'f'

In [44]:
'd' + name1[1:]

'dine'