In [ ]:
#Print Function  We are going to disscuss about the print function with examples

In [16]:
#print() function is used to print the out output

In [18]:
# Print Syntax - print(* objects , sep="" , end='\n'  , file = sys.stdout , flush = false )

In [ ]:
Print Syantax  - Print(* objects , sep="" , ends='\n' file='sys.stdout',flash=false)

In [36]:
#Printing Multiple Objects

In [44]:
x = 20 
y =50 
print("The value of X is ",x,  "and the  value of y is " , y)

The value of X is  20 and the  value of y is  50

In [48]:
num = 20 
num2 = 80

add = num+num2
print("The addition of num and num2 is", add)

The addition of num and num2 is 100

<b>String Format Method {} </b>#

In [87]:
num3 = 20 
num4= 80

add = num3+num4
print('The additions of {} and {} is = {}'.format(num3,num4,add))

The additions of 20 and 80 is = 100

In [104]:
name1 = "keshav"
age = 10
city  = "hyderabad" 
# Hello my name is python and Im 10 years old from hyderabad .
print(' Hello My name is {} ,  and Im {}  years old  from {}'.format(name1,age,city))

 Hello My name is keshav ,  and Im 10  years old  from hyderabad

In [106]:
name2 = "python"
age = 20
city = "hyd"
print('hello  my name is {} , and im {} years old from {}'.format(name2,age,city))

hello  my name is python , and im 20 years old from hyd

# more short format method ( f string method )

In [124]:
# 1>variable shold be in curely braces 
#2> write everything inside quote '' 
#3> simply add f in the starting

In [128]:
numb1 = 60
numb2 = 89
add = numb1+numb2
print(f'The addition of {numb1} and {numb2} is = {add}') # alaways prefer this method

The addition of 60 and 89 is = 149

In [150]:
name1 = "keshav"
age = 10
city  = "hyderabad" 
# Hello my name is python and Im 10 years old from hyderabad 
print(f'Hello My name is {name1} and Im {age} years old fom {city}')

Hello My name is keshav and Im 10 years old fom hyderabad

In [165]:
num5 = 89
num6 = 78
num7 = 56
average = (num5+num6+num7)/3
print(f'the average of {num5},{num6} and {num7} is = {average}')

the average of 89,78 and 56 is = 74.33333333333333

In [226]:
#Print Syntax - print(* objects , sep='' , end='\n', file='sys.stdout' ,flush=false)

In [187]:
# Lets combine all 
numk = 10 
num8 = 88
num90 = 777
add = numk + num8+num90
#printing using the first method 
print("The addition of numk",numk,"and",num8,"and",num90 ,"is =" ,add)
#printing using the second method 
print('the addition of {} and {} and {} is = {}'.format(numk,num8,num90,add))
# pinting using the third method 
print(f'the addition of {numk},{num8} and num90 is = {add}')

The addition of numk 10 and 88 and 777 is = 875
the addition of 10 and 88 and 777 is = 875
the addition of 10,88 and num90 is = 875

# End Statement Use of end 
# using the end statement next print function result will display in 1st output

In [201]:
print("Hello" , end=' ')
print("good morning")

Hello good morning

In [222]:
print ("hello Keshav How are you" , end=' ')
print ("Whatsapp keshav Is evrrything is fine")

hello Keshav How are you Whatsapp keshav Is evrrything is fine

# Separator

In [234]:
print("Hello ","Hi","How are u", sep= '--')

Hello --Hi--How are u

In [238]:
print("Hello ","Hi","How are u", sep= '%%%')

Hello %%%Hi%%%How are u

In [240]:
print("Hello ","Hi","How are u", sep= '@')

Hello @Hi@How are u

In [248]:
print("Keshav",end=' ')
print("Rishav is my brother","hhhh","uuu",sep='****')

Keshav Rishav is my brother****hhhh****uuu

In [2]:

keshav = 'Rishav '
print(f'{keshav} he was mt best brother ever and forever') #  always prefered this format for metter format in outpur\t string

Rishav  he was mt best brother ever and forever