# Import Maths module 
### import math module 
https://docs.python.org/3/library/math.html

In [24]:
import  math  # math is a module module is the collection of functions

x = math.sqrt(25) # sqrt is inbuild function 
x

5.0

In [28]:
x1 = math.sqrt(64)
x1

8.0

In [34]:
print(math.floor(2.9))  # floor has minimum or least value 
print(math.ceil(2.9)) # ceil has the highest value

2
3

In [42]:
# import math as m 
import math as m 
print(m.ceil(2.33))

3

In [44]:
print(m.pow(3,2))

9.0

In [46]:
print(math.pi) # pi value  is constant

3.141592653589793

In [48]:
from math import*
pow(8,2)

64.0

In [56]:
round(pow(8,3))

512

In [58]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

## User Innput Function In python

In [61]:
x = input()
y =  input()
z = x+y
print(z)

 88jj
 99

88jj99

In [ ]:
x1 = int(input("Enter The First Number :"))
x2 = float(input("Enter The second number:"))
z1 = int(x1 + x2)
print(f'The sum of {x1} and {x2} is : ', z1)

In [83]:
# characters using the input functions 
ch = input('Enter a char')
print(ch)

Enter a char Keshav Kumar thakur

Keshav Kumar thakur

In [89]:
print(ch[0:8:2])

Ksa

In [91]:
print(ch[-1])

r

In [99]:
print(ch[1:])

eshav Kumar thakur

In [109]:
# Eval function using the input 
# eval function is used to print the expression in user input

In [111]:
result = eval(input('enter an expression'))
print(result)

enter an expression 78076789987==88

False

In [107]:

# Without using eval
result2 = input("Enter an expression")
print(result2)

Enter an expression 88+9-2

88+9-2

# Set

In [116]:
s = {}

In [118]:
type(s)

dict

In [122]:
s1 = {1,2,3,4,5,6,88,33,10,44,}

In [124]:
s1

{1, 2, 3, 4, 5, 6, 10, 33, 44, 88}

In [126]:
type(s1)

set

In [128]:
s3 = {50,35,53,'nit',53}

In [130]:
s3

{35, 50, 53, 'nit'}

In [132]:
s4 = {'Keshav','a','b','o','c','r','z'}

In [134]:
s4

{'Keshav', 'a', 'b', 'c', 'o', 'r', 'z'}

In [140]:
s4[1]   # slicing and indexing are not allowed in set

TypeError: 'set' object is not subscriptable

In [145]:
s4 = {'Keshav','a','b','o','c','r','z',1,1,2,4,20,80,20}

In [150]:
s4 # by default it will remove the reapeted or duplicate letter or characters or integer an numbers

{1, 2, 20, 4, 80, 'Keshav', 'a', 'b', 'c', 'o', 'r', 'z'}

# Dictionary

In [171]:
data =  {1:'apple',2:'banana',3:'orange'}
data

{1: 'apple', 2: 'banana', 3: 'orange'}

In [173]:
type(data)

dict

In [181]:
data[1]

'apple'

In [185]:
data.get(1)

'apple'

In [197]:
data.get(1 ,'Not found')

'apple'

In [203]:
data[5] = 'five'

In [205]:
del data [5]

In [218]:
a1 = np.nan

print(type(a1))

NameError: name 'np' is not defined

In [220]:
print(True*2)

2

In [222]:
poll_data = 7,

In [224]:
type(poll_data)

tuple

In [228]:
#_ if undercomes it means it is a tuple

In [230]:
obj_data = ( )

In [232]:
type(obj_data)

tuple

In [238]:
x = 'variable' 
print(type(x))

<class 'str'>

In [240]:
#Question 7 What is the output of the following code?
x = 10
y = 5
z = x + y
print(z)

15

In [244]:
x = 5
y = 2 
print(x // y)

2

In [246]:
x = "Hello"
print(x[1:4])

ell

In [248]:
x = [1, 2, 3, 4]
y = filter(lambda a: a % 2 == 0, x)
print(list(y))

[2, 4]

In [252]:
dic = {1: 'A', 2: 'E', 3: 'I'}
dic[4] = 'O'
print(dic)

{1: 'A', 2: 'E', 3: 'I', 4: 'O'}

In [256]:
list1 = ['a', 'b', 'g', 1, 5]
print(list1.pop())

5

In [258]:
var = 2
print(2 == 2.0)

True

In [260]:
print(int(3.9))

3

In [266]:
a = 'Python'  +  ".py"
print(a)

Python.py

In [268]:
print(str(True), end=" ")
int("4.5")

True

ValueError: invalid literal for int() with base 10: '4.5'

In [270]:
set1 = {1, 5, 6, 4, 3}
print(set1)

{1, 3, 4, 5, 6}

In [274]:
x = 50
def fun1():
 x = 25
 print(x)
fun1()
print(x)

25
50

In [276]:
x = 75
def myfunc():
 x = x + 1
 print(x)
myfunc()
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [278]:
print(type(0xFF))

<class 'int'>

In [288]:
#str1 = 'Ault\\'Kelly' 
#str2 = 'Ault\'Kelly' 
str3 = """Ault'Kelly"""
print(str3)

Ault'Kelly

In [294]:
st6 = 'Aitii\'Kelly'
st6

"Aitii'Kelly"

In [298]:
print(type({}))

<class 'dict'>

In [310]:
x = 50
def fun1():
# your code to assign global x = 20
 fun1()
 print(x)

In [312]:
type(range(5))

range

In [314]:
print(type(10))

<class 'int'>

In [316]:
x = "Hello"
print(type(x))

<class 'str'>

In [318]:
x = 10
y = "20"
print(x + int(y))

30

In [320]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [322]:
x = {"name": "John", "age": 30}
print(type(x))

<class 'dict'>

In [324]:
x = True

In [326]:
type(x)

bool

In [328]:
x = [1, 2, 3]
print(type(x))

<class 'list'>

In [330]:
x = [1, 2, 3]
y = x.copy()
x.append(4)
print(y)

[1, 2, 3]

In [332]:
x = {"a", "b", "c"}
y = {"b", "c", "d"}
z = x & y
print(z)

{'b', 'c'}

In [334]:
x = 10
y = 20
x, y = y, x
print(x, y)

20 10

In [336]:
x = {"a": 1, "b": 2}
y = {"b": 3, "c": 4}
z = {**x, **y}
print(z)

{'a': 1, 'b': 3, 'c': 4}

In [338]:
x = {1, 2, 3}
x.clear()
print(x)

set()

In [340]:
x = "hello"
y = x.upper()
print(y)

HELLO

In [342]:
x = "hello"
y = x.replace("l", "L", 1)
print(y)

heLlo

In [344]:
x = (1, 2, [3, 4])
x[2][0] = 5
print(x)

(1, 2, [5, 4])

In [346]:
x = {"name": "John", "age": 30}
print(x["address"])

KeyError: 'address'

In [348]:
x = [1, 2, 3]
y = x[:]
x[0] = 4
print(y)

[1, 2, 3]

In [355]:
x = {"apple", "banana", "cherry"}
y = x.pop()
print(y)

cherry

In [357]:
x = [1, 2, 3]
x.insert(1, 4)
print(x)

[1, 4, 2, 3]

In [359]:

x = {"a", "b", "c"}
y = x - {"b"}
print(y)

{'a', 'c'}

In [361]:
x = {1, 2, 3}
y = x.add(4)
print(x)

{1, 2, 3, 4}