In [ ]:
# Tuple is a build in data type in python it is similar to the list but tuple are immutable whereas list are immmutable 
# Iterating is faster in the tuple as comapared to the list

## Tuple Creation

In [ ]:
# Empty Tuple :

In [2]:

tup1 = ()  # empty tuple

In [6]:
tup2 = (1,2,5,68,0) # integer tuple 
type(tup2)

tuple

In [10]:
tup3 = (10.7,98.9,77.9)
type(tup3)
print(tup3)

(10.7, 98.9, 77.9)

In [14]:
tup4 = ('one','two','three') # tuple of strings

In [20]:
tup5 = ('asif',22,33,(22,99,0.1,22),'Keshav',88) # nested tuple

In [24]:
tup5 = ('one','two',6,8.8,77,'three') # tuple of mixed data type

## Tuple Indexing

In [29]:
tup2[0]

1

In [31]:
tup4[0]

'one'

In [33]:
tup4[-1]

'three'

### Tuple Slicing

In [78]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [41]:
mytuple[0:3]

('one', 'two', 'three')

In [43]:
mytuple[2:5]

('three', 'four', 'five')

In [47]:
mytuple[::-2]

('eight', 'six', 'four', 'two')

In [49]:
mytuple[:-1]

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [51]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

## Remove and change the items

In [74]:
del mytuple[2] # we cant delete the items of tuple  but we can delete the entire tuple ex ----> del mytuple

NameError: name 'mytuple' is not defined

In [64]:
mytuple[:0] = 1   # its means that tuple are immutable we can't change the tuple items

TypeError: 'tuple' object does not support item assignment

In [72]:
del mytuple # we can delte the entrire tuple but we cant not delete  the items of tuples

NameError: name 'mytuple' is not defined

In [80]:
mytuple = ('one','two','three','four','five','six','seven','eight')
print(mytuple)

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

## Loop through a tuple

In [85]:
for i in mytuple :
  print(i)

one
two
three
four
five
six
seven
eight

In [87]:
for i in enumerate(mytuple) :
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count()

In [96]:
mytuple1 = ('one','two','three','four','one','two','three','four')

mytuple1

('one', 'two', 'three', 'four', 'one', 'two', 'three', 'four')

In [112]:
mytuple1.count('two')

2

In [114]:
mytuple1.count('four')

2

In [116]:
mytuple1.count('one')

2

## Tuple Membership

In [119]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'two', 'three', 'four')

In [123]:
'ten' in mytuple1

False

In [135]:
# programe check whether three  is present in mytuple1
if 'three' in mytuple1 :
    print("Present")
else :
    print('Not Present')

Present

In [137]:
# programe check whether  eleven   is present in mytuple1
if 'eleven' in mytuple1 :
    print("Present")
else :
    print('Not Present')

Not Present

## Index

In [140]:
mytuple.index('one')

0

In [142]:
mytuple.index('two')

1

In [144]:
mytuple.index('five')

4

In [146]:
mytuple.index('eight')

7

In [148]:
mytuple.index('ten')

ValueError: tuple.index(x): x not in tuple

## Sorting

In [165]:
sorted(mytuple1)

['four', 'four', 'one', 'one', 'three', 'three', 'two', 'two']

In [167]:
sorted(mytuple1 , reverse = True)

['two', 'two', 'three', 'three', 'one', 'one', 'four', 'four']

# Sets

In [170]:
#Sets elements are unique  
#Duplicate elements are not allowed 
#set itsel is mutable . We can add or remove items from it .

set = {1,2,3,4,5} 
set

{1, 2, 3, 4, 5}

In [176]:

set1  = { }  

type(set1)

dict

In [178]:
len(set)

5

In [180]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [192]:
my_set = {1,2,3,4,1,2,3,9,4,5,6,7,8,8,}  # duplicate elements are not allowed 

myest2 = {100,22,1,7788,90} 
my_set
myest2

{1, 22, 90, 100, 7788}

In [ ]:
myset1 = {100,22,1,7788,90}  # set of integers

In [200]:
myset2 = {100.9,22.9,1,7788,90}  # set of float 
myset2
type(myset2)
len(myset2)

5

## Loop Through a set

In [202]:
for i in myset2 : 
    print(i)

1
100.9
22.9
90
7788

In [204]:
for i in enumerate(myset2) :
    print(i)

(0, 1)
(1, 100.9)
(2, 22.9)
(3, 90)
(4, 7788)

In [214]:
myset3 =  {10,20, "Hola", [11, 22, 32]}   # set doesnot support or allow mutable items like list

TypeError: unhashable type: 'list'

# Set Membership  
myset

In [225]:
1 in myset

True

In [227]:
3 in myset

True

In [252]:
myset = {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [231]:
10  in myset

False

## Add or remove Items

In [236]:
myset.add('five')
myset

{1, 2, 3, 4, 5, 'five'}

In [254]:
myset.update('Keshav','kumar','thakur','this')
myset

{'K',
 'a',
 'e',
 'eight',
 'five',
 'four',
 'h',
 'i',
 'k',
 'm',
 'one',
 'r',
 's',
 'seven',
 'six',
 't',
 'three',
 'two',
 'u',
 'v'}

In [258]:
myset.remove("one")
myset

{'K',
 'a',
 'e',
 'eight',
 'five',
 'four',
 'h',
 'i',
 'k',
 'm',
 'r',
 's',
 'seven',
 'six',
 't',
 'three',
 'two',
 'u',
 'v'}

In [266]:
myset.remove('eightteen') # when ever elememt is ot present in the set it will show the error wheread disacrd doest not do like that

KeyError: 'eightteen'

In [272]:
myset.discard('five')
myset

{'K',
 'a',
 'e',
 'eight',
 'four',
 'h',
 'i',
 'k',
 'm',
 'r',
 's',
 'seven',
 'six',
 't',
 'three',
 'u',
 'v'}

In [274]:
myset.clear()

In [276]:
myset

set()

In [278]:
del myset

# copy

In [283]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [287]:
myset1 = myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [291]:
id(myset) ,  id(myset1)

(2342239688000, 2342239688000)

In [295]:
my_set = myset.copy()
id(my_set)

2342239685536

##   Set  Operation

####    Union

In [299]:
A = { 1,2,3,4,5}
B =  {4,5,6,7,8}
C =  {8,9,10}

In [301]:
A|B  # | its represnts the union of sets 
# ALL ELEMENTS FROM BOTH SIDE NO DUPLIACTES VALUES WILL PRINT IN  UNION

{1, 2, 3, 4, 5, 6, 7, 8}

In [305]:
B.union(C)

{4, 5, 6, 7, 8, 9, 10}

In [309]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [311]:
A =  { 1,2,3,4,5}
B =   {4,5,6,7,8}

## Intersection

In [314]:
A.intersection(B)  #(It will print the common values betweeen them )

{4, 5}

In [322]:
A&B   #  ---> intersection will also represnted by using this symbol &

SyntaxError: invalid syntax (974124261.py, line 1)

In [324]:
B&A

{4, 5}

In [326]:
B&C

{8}

In [332]:
C&A

set()

## DIFFERENCE

In [335]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [341]:
A - B  #--- >  set of elements of that are only in a not in B it means it will onnly represent the  elements taht are not present in set b

{1, 2, 3}

In [343]:
B - A

{6, 7, 8}

In [345]:
A.difference(B)

{1, 2, 3}

In [349]:
A.difference(C)

{1, 2, 3, 4, 5}

## Symmetric Differnece

In [352]:
A^B  Symmetric difference (Set of elements in A and B but not in both.

{1, 2, 3, 6, 7, 8}

In [354]:
A.symmetric_difference(B) #  Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

#### SUBSET , SUPERSET and DISJOINT

In [378]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8} 
C = {10,20,30,40}
print(A,B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9} {3, 4, 5, 6, 7, 8} {40, 10, 20, 30}

In [380]:
A.issuperset(B)

True

In [382]:
B.issubset(A)

True

In [384]:
C.isdisjoint(A)

True

In [388]:
B.isdisjoint(A)

False

## Other build In functions

In [391]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [395]:
max(A)

9

In [397]:
sum(A)

45

In [399]:
min(A)

1

In [401]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [406]:
D = sorted(A, reverse = True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

##  Dictionary

dictionary is mutable data type in python 
A pytho dictionary is a collection of key and value pairs separated by a colon(:) & enclose in curley braces {}. 
Keys must be unique in a dictionary , duplicate values are allowed .

In [410]:
mydict = {'A':'one','B':'two','C':'three','D':'Four'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three', 'D': 'Four'}

In [418]:
mydict = dict() # empty 
type(mydict)

dict

In [420]:
mydict = {} # empty dictionary mydic
mydict

{}

In [422]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys mydict

In [426]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() mydict 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [428]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys mydict 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [430]:
mydict.keys()

dict_keys([1, 'A', 3])

In [432]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [434]:
mydict.items() # acces each key value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [446]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria' ]}
type(mydict)

dict

In [460]:
mydict = { 1:'one' , 2:'two' , 'A':['ASIF' , 'JOHN' ,'MARIYA']} 
mydict

{1: 'one', 2: 'two', 'A': ['ASIF', 'JOHN', 'MARIYA']}

In [464]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat' )}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'cat')}

In [468]:
for i in mydict :
    print(i)

1
2
A
B

In [470]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys)  # create a dictonary from sequence of keys 
mydict3

{'c': None, 'a': None, 'b': None, 'd': None}

In [474]:
keys = {'a','b','c','d'}
value = 10
mydict3 = dict.fromkeys(keys,value)
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'cat')}

In [479]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of mydict3
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30]}

In [483]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40, 40],
 'a': [10, 20, 30, 40, 40],
 'b': [10, 20, 30, 40, 40],
 'd': [10, 20, 30, 40, 40]}