In [66]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [70]:
df = pd.read_csv(r'E:\Data Sets -Data Frames\Book12.csv')
df

,Name,Address,Date,Time
0,Prabhas' Residence,"839, Road Number 44, Jubilee Hills, Hyderabad",12/8/1985,6hrs:20min:10sec
1,Mahesh Babu's Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",10/8/1995,6hrs:20min:10sec
2,Chiranjeevi's Residence,"Road No. 25, Jubilee Hills, Hyderabad.",15/2/1990,11hrs:12min:17sec
3,Prabhas' Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",NaN,NaN
4,Babu's Residence,"839, Road Number 44, Hayatnagar Hills, Hyderabad",NaN,NaN
5,KK Residence,"Plot No. 60/BA, Road No. 12, Film Nagar, Hyder...",NaN,NaN
6,Raj Residence,"8399, Road Number 445, Banjara Hills, Hyderabad",NaN,NaN

In [72]:
df

,Name,Address,Date,Time
0,Prabhas' Residence,"839, Road Number 44, Jubilee Hills, Hyderabad",12/8/1985,6hrs:20min:10sec
1,Mahesh Babu's Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",10/8/1995,6hrs:20min:10sec
2,Chiranjeevi's Residence,"Road No. 25, Jubilee Hills, Hyderabad.",15/2/1990,11hrs:12min:17sec
3,Prabhas' Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",NaN,NaN
4,Babu's Residence,"839, Road Number 44, Hayatnagar Hills, Hyderabad",NaN,NaN
5,KK Residence,"Plot No. 60/BA, Road No. 12, Film Nagar, Hyder...",NaN,NaN
6,Raj Residence,"8399, Road Number 445, Banjara Hills, Hyderabad",NaN,NaN

In [74]:
df.columns

Index(['Name ', 'Address ', 'Date ', 'Time '], dtype='object')

In [80]:
df.columns = ['Keshav','Rishav','date','time']
df

,Keshav,Rishav,date,time
0,Prabhas' Residence,"839, Road Number 44, Jubilee Hills, Hyderabad",12/8/1985,6hrs:20min:10sec
1,Mahesh Babu's Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",10/8/1995,6hrs:20min:10sec
2,Chiranjeevi's Residence,"Road No. 25, Jubilee Hills, Hyderabad.",15/2/1990,11hrs:12min:17sec
3,Prabhas' Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",NaN,NaN
4,Babu's Residence,"839, Road Number 44, Hayatnagar Hills, Hyderabad",NaN,NaN
5,KK Residence,"Plot No. 60/BA, Road No. 12, Film Nagar, Hyder...",NaN,NaN
6,Raj Residence,"8399, Road Number 445, Banjara Hills, Hyderabad",NaN,NaN

In [90]:
df.columns

Index(['Keshav', 'Rishav', 'date', 'time'], dtype='object')

In [94]:
df.columns = ['Name', 'Address', 'Date', 'Time']

In [96]:
df

,Name,Address,Date,Time
0,Prabhas' Residence,"839, Road Number 44, Jubilee Hills, Hyderabad",12/8/1985,6hrs:20min:10sec
1,Mahesh Babu's Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",10/8/1995,6hrs:20min:10sec
2,Chiranjeevi's Residence,"Road No. 25, Jubilee Hills, Hyderabad.",15/2/1990,11hrs:12min:17sec
3,Prabhas' Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",NaN,NaN
4,Babu's Residence,"839, Road Number 44, Hayatnagar Hills, Hyderabad",NaN,NaN
5,KK Residence,"Plot No. 60/BA, Road No. 12, Film Nagar, Hyder...",NaN,NaN
6,Raj Residence,"8399, Road Number 445, Banjara Hills, Hyderabad",NaN,NaN

In [98]:
df.columns

Index(['Name', 'Address', 'Date', 'Time'], dtype='object')

In [104]:
df.rename(columns={'Time': 'Man'}, inplace=True)

In [108]:
df.rename(columns={"Man":'Time'},inplace = True)

In [110]:
df

,Name,Address,Date,Time
0,Prabhas' Residence,"839, Road Number 44, Jubilee Hills, Hyderabad",12/8/1985,6hrs:20min:10sec
1,Mahesh Babu's Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",10/8/1995,6hrs:20min:10sec
2,Chiranjeevi's Residence,"Road No. 25, Jubilee Hills, Hyderabad.",15/2/1990,11hrs:12min:17sec
3,Prabhas' Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",NaN,NaN
4,Babu's Residence,"839, Road Number 44, Hayatnagar Hills, Hyderabad",NaN,NaN
5,KK Residence,"Plot No. 60/BA, Road No. 12, Film Nagar, Hyder...",NaN,NaN
6,Raj Residence,"8399, Road Number 445, Banjara Hills, Hyderabad",NaN,NaN

In [117]:
df

,Name,Address,Date,Time
0,Prabhas' Residence,"839, Road Number 44, Jubilee Hills, Hyderabad",12/8/1985,6hrs:20min:10sec
1,Mahesh Babu's Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",10/8/1995,6hrs:20min:10sec
2,Chiranjeevi's Residence,"Road No. 25, Jubilee Hills, Hyderabad.",15/2/1990,11hrs:12min:17sec
3,Prabhas' Residence,"Plot No. 60/A, Road No. 12, Film Nagar, Hydera...",NaN,NaN
4,Babu's Residence,"839, Road Number 44, Hayatnagar Hills, Hyderabad",NaN,NaN
5,KK Residence,"Plot No. 60/BA, Road No. 12, Film Nagar, Hyder...",NaN,NaN
6,Raj Residence,"8399, Road Number 445, Banjara Hills, Hyderabad",NaN,NaN

In [125]:
address_df = df['Address'].str.split(',',expand=True)

In [127]:
address_df

                0                 1                  2            3
0             839    Road Number 44      Jubilee Hills    Hyderabad
1   Plot No. 60/A       Road No. 12         Film Nagar   Hyderabad.
2     Road No. 25     Jubilee Hills         Hyderabad.         None
3   Plot No. 60/A       Road No. 12         Film Nagar   Hyderabad.
4             839    Road Number 44   Hayatnagar Hills    Hyderabad
5  Plot No. 60/BA       Road No. 12         Film Nagar   Hyderabad.
6            8399   Road Number 445      Banjara Hills    Hyderabad

In [131]:
address_df.columns = ['Sreet No ','Road No ', 'City','State']
address_df.columns

Index(['Sreet No ', 'Road No ', 'City', 'State'], dtype='object')

In [133]:
print(address_df)

        Sreet No           Road No                City        State
0             839    Road Number 44      Jubilee Hills    Hyderabad
1   Plot No. 60/A       Road No. 12         Film Nagar   Hyderabad.
2     Road No. 25     Jubilee Hills         Hyderabad.         None
3   Plot No. 60/A       Road No. 12         Film Nagar   Hyderabad.
4             839    Road Number 44   Hayatnagar Hills    Hyderabad
5  Plot No. 60/BA       Road No. 12         Film Nagar   Hyderabad.
6            8399   Road Number 445      Banjara Hills    Hyderabad