In [2]:
first_name = 'PRAKASH'
last_name = 'SENAPATI'
country = 'INDIA'
city = 'HYD'
age = 40034
is_married = True 
skills = ['HTML','CSS','JAVASCRIPT','REACT','PYTHON']
personal_info = {
    'firstname:Keshv',
    'lastname:yoges sharma',
    'country:india',
    'city:hyderabad'
    }

In [28]:
# Printing the values stored in variable
print('First Name : ', first_name )
print("first name lenght is ",len(first_name))
print("Last name : ", last_name )
print("Last name lenght is ", len(last_name))
print("Country:" , country)
print("The lenght of country is ", len(country))
print("Age: " , age)
print("Is Married" , is_married)
print("skills :",skills)
print("Personal Information:", personal_info)

First Name :  PRAKASH
first name lenght is  7
Last name :  SENAPATI
Last name lenght is  8
Country: INDIA
The lenght of country is  5
Age:  40034
Is Married True
skills : ['HTML', 'CSS', 'JAVASCRIPT', 'REACT', 'PYTHON']
Personal Information: {'lastname:yoges sharma', 'firstname:Keshv', 'country:india', 'city:hyderabad'}

In [30]:
# Decalaring multiple variable in one line 
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True